.dogForm {
    display: flex;
    flex-direction: column;
    
}


.userForm {
    display: flex;
    flex-direction: column;
    align-items: left;
    order: 1;
    width: 50%;
    font-family: 'Syne Mono', monospace;
    

}
.userForm input{
    width: 80%;
}
.form {
    width: 35%;
}

.dogSubmit{
    width: 20%;
}

.container {
    display: flex;
    flex-direction: row
    
}
.login {
    display: flex;
    flex-direction: row;
    
}

.loginButton {
    display: flex;
    
}

.services {
    display: flex;
    flex: 3;
    order: 2;
    font-family: 'Syne Mono', monospace;
    
}
h1 {
    
    border: 5px solid black;
    background-color: black;
    background-image: url('dog.png');
    width: 20vh;
    height: 15vh;
    background-size: 170px 200px;
    color:white;
    
    font-family: 'Syne Mono', monospace;
    
    
        
}

.title {
    display: flex;
    position: relative;
    border: 10px solid black;
    background-color: white;
    
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin-top: 10%;
    background-image: url('dog2.png');
    background-color: #cccccc;
    height: 400px;
    /* background-position: center; */
    background-repeat: initial;
    background-size: cover;
    
}

body {
    background-color: #cccccc;
    border: 2px solid black;
}
